{{ define "main" }}
<main class="citations">
  <h1>{{ .Title }}</h1>
  <ul>
    {{ range .Pages.ByTitle }}
      <li>
        {{ with .Params.author }}{{ delimit . ", " }}. {{ end }}
        <strong>{{ .Title }}</strong>.
        {{ with .Date }} ({{ .Format "2006" }}){{ end }}.
        {{ with .Params.publisher }} {{ . }}.{{ end }}
        {{ with .Params.doi_id }} DOI: <a href="https://doi.org/{{ . }}">{{ . }}</a>.{{ end }}
        {{ if and .Params.external_link (not .Params.doi_id) }} <a href="{{ .Params.external_link }}">link</a>{{ end }}
      </li>
    {{ end }}
  </ul>
</main>
{{ end }}
