.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    line-height: var(--header-height);
    background: var(--code-bg);
    color: #F9FAFB;
}

.nav a {
    display: block;
    color: #F9FAFB;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: var(--headersize);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 20px;
    margin: auto 4px;
}


#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: var(--headersize);
    font-weight: 400;
    font-family: 'Hind', 'Open Sans', sans-serif;
}

#menu .active {
    background: var(--accent, #33A6A6);
    border-radius: 6px;
    padding: 4px 12px;
    display: inline-block;
    border-bottom: none;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
